/* Home.css */

/* Add any additional styling needed for the Home page here */

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .left-panel {
    flex: 1;
    padding: 20px;
  }
  
  .right-panel {
    flex: 1;
    padding: 20px;
  }
  