/* Main.css */
.homepage {
  background-image: url('./images/jw_marriott.jpg');
  background-size: 100% 100%; /* Ensure image covers both width and height */
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in element's total width and height */
}

.bio-section {
  margin: 20px auto; /* Auto margin for vertical centering */
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 90%; /* Adjust max-width for better flexibility */
  box-sizing: border-box; /* Ensures padding is included in element's total width and height */
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.bio-section h2 {
  margin: 0 0 20px 0;
  font-family: 'Average', sans-serif;
  font-size: 50px;
  font-weight: 700;
  word-wrap: break-word; /* Allow words to break if they are too long */
}

.bio-section p {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 400;
}

.explore-more-link {
  display: inline-block;
  color: #fff;
  background-color: #4e4e4e;
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: 2px solid #fff;
  font-size: 20px;
}

.explore-more-link:hover {
  background-color: #b37400;
}

/* Media queries for devices with max-width of 768px (phones, small tablets) */
@media (max-width: 768px) {
  .bio-section {
    margin-top: 40px;
    padding: 30px 15px;
    max-width: 100%; /* Ensure bio section does not exceed screen width */
  }

  .bio-section h2 {
    font-size: 28px; /* Adjust font size for mobile view */
    word-wrap: break-word; /* Ensure text breaks properly on small screens */
  }

  .bio-section p {
    font-size: 16px; /* Adjust font size for mobile view */
  }

  .explore-more-link {
    padding: 12px 24px; /* Adjust padding for mobile view */
    font-size: 16px; /* Adjust font size for mobile view */
  }
}
