.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: left; /* Ensure logo is always aligned left */
  flex: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu.active {
  display: flex;
  position: absolute;
  top: 60px;
  left: 0;
  width: 250px;
  background-color: #333;
  flex-direction: column;
}

.nav-item {
  margin-left: 20px;
  position: relative;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
}

.dropdown {
  display: block;
  position: relative;
  padding-left: 20px; /* Add padding for indentation */
  list-style: none;
  padding: 10px 0;
  margin: 0;
  margin-top: 10px; /* Add margin to push down other links */
  background-color: #444; /* Add background color to dropdown */
}

.dropdown-item {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.nav-icon {
  display: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
  }

  .nav-icon {
    display: block; /* Ensure hamburger menu is visible */
  }

  .nav-menu.active {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    width: 250px;
    background-color: #333;
    flex-direction: column;
  }

  .nav-logo {
    flex: 1;
    text-align: center; /* Center logo when screen is minimized */
    margin: 0;
  }

  .nav-item {
    margin: 0;
  }
}
